.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  scroll-margin-top: 100px;
  margin-top: -10;
  margin-bottom: 40px;
}

.skills-title {
  font-size: 2.5rem;
  color: #222;
  margin-bottom: 30px;
}

.skills-container {
  background-color: rgba(253, 253, 251, 0.765);
  border-radius: 10px;
  border: 2px solid #ffd500e2;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 1000px;
  padding: 20px;
}

.skills-info {
  margin-bottom: 30px;
}

.skills-info p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
}

.logos-group {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

svg {
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease;
}

svg:hover {
  transform: scale(1.3);
}

.no-projects-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

.projects-list p {
  font-style: italic;
  color: gray;
}

.projects-list {
  margin-top: 40px; /* Espacio adicional hacia abajo desde las habilidades */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center;
}

.project-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  max-width: 300px; /* Ajusta el tama침o m치ximo de las tarjetas */
  text-align: left;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .skills-container {
    width: 95%; /* Asegura que ocupe un poco m치s del 90% del ancho */
    margin: 0 10px; /* M치rgenes laterales para pantallas medianas */
  }

  .skills-title {
    font-size: 2rem;
  }

  .logos-container svg {
    width: 60px;
    height: 60px;
  }

  .projects-list {
    gap: 15px; /* Reduce el espacio entre las tarjetas */
  }

  .project-card {
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  .skills-container {
    width: 100%;
    margin: 0 10px;
  }

  .skills-title {
    font-size: 1.8rem;
  }

  .logos-container svg {
    width: 50px;
    height: 50px;
  }

  .projects-list {
    gap: 10px;
  }

  .project-card {
    max-width: 100%;
    margin: 10px 0;
  }
}
